In [6]:
pip install beautifulsoup4

Collecting beautifulsoup4
  Downloading https://files.pythonhosted.org/packages/3b/c8/a55eb6ea11cd7e5ac4bacdf92bac4693b90d3ba79268be16527555e186f0/beautifulsoup4-4.8.1-py3-none-any.whl (101kB)
     |████████████████████████████████| 102kB 18.4MB/s ta 0:00:01
Collecting soupsieve>=1.2 (from beautifulsoup4)
  Downloading https://files.pythonhosted.org/packages/81/94/03c0f04471fc245d08d0a99f7946ac228ca98da4fa75796c507f61e688c2/soupsieve-1.9.5-py2.py3-none-any.whl
Installing collected packages: soupsieve, beautifulsoup4
Successfully installed beautifulsoup4-4.8.1 soupsieve-1.9.5
Note: you may need to restart the kernel to use updated packages.

In [7]:
pip install lxml

Collecting lxml
  Downloading https://files.pythonhosted.org/packages/68/30/affd16b77edf9537f5be051905f33527021e20d563d013e8c42c7fd01949/lxml-4.4.2-cp36-cp36m-manylinux1_x86_64.whl (5.8MB)
     |████████████████████████████████| 5.8MB 25.4MB/s eta 0:00:01     |██████                          | 1.1MB 25.4MB/s eta 0:00:01     |███████████▍                    | 2.0MB 25.4MB/s eta 0:00:01     |█████████████████               | 3.1MB 25.4MB/s eta 0:00:01     |████████████████████████████▎   | 5.1MB 25.4MB/s eta 0:00:01
Installing collected packages: lxml
Successfully installed lxml-4.4.2
Note: you may need to restart the kernel to use updated packages.

In [8]:
pip install requests

Requirement already satisfied: requests in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (2.22.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from requests) (1.25.7)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from requests) (3.0.4)
Requirement already satisfied: idna<2.9,>=2.5 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from requests) (2.8)
Requirement already satisfied: certifi>=2017.4.17 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from requests) (2019.9.11)
Note: you may need to restart the kernel to use updated packages.

In [4]:
import requests
import pandas as pd
pip install lxml

In [10]:
website_url = requests.get("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M").text

In [11]:
from bs4 import BeautifulSoup

In [12]:
soup = BeautifulSoup(website_url,"html.parser")

In [13]:
my_table = soup.find("table",{"class": "wikitable sortable"})

In [14]:
links = my_table.find_all("tr")

Nova tentativa

In [3]:
import requests
import pandas as pd

In [4]:
pip install lxml

Collecting lxml
  Downloading https://files.pythonhosted.org/packages/68/30/affd16b77edf9537f5be051905f33527021e20d563d013e8c42c7fd01949/lxml-4.4.2-cp36-cp36m-manylinux1_x86_64.whl (5.8MB)
     |████████████████████████████████| 5.8MB 18.1MB/s eta 0:00:01
Installing collected packages: lxml
Successfully installed lxml-4.4.2
Note: you may need to restart the kernel to use updated packages.

In [6]:
url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"

In [7]:
table = pd.read_html(url)

In [8]:
df=table[0]

In [9]:
df

    Postcode           Borough          Neighbourhood
0        M1A      Not assigned           Not assigned
1        M2A      Not assigned           Not assigned
2        M3A        North York              Parkwoods
3        M4A        North York       Victoria Village
4        M5A  Downtown Toronto           Harbourfront
..       ...               ...                    ...
282      M8Z         Etobicoke              Mimico NW
283      M8Z         Etobicoke     The Queensway West
284      M8Z         Etobicoke  Royal York South West
285      M8Z         Etobicoke         South of Bloor
286      M9Z      Not assigned           Not assigned

[287 rows x 3 columns]

In [10]:
filtro_Borough = df["Borough"] != "Not assigned"

In [11]:
df=df[filtro_Borough]

In [12]:
df=df.reset_index()

In [13]:
df = df.drop(["index"],axis=1) # or del df["index"]

In [14]:
df

    Postcode           Borough             Neighbourhood
0        M3A        North York                 Parkwoods
1        M4A        North York          Victoria Village
2        M5A  Downtown Toronto              Harbourfront
3        M6A        North York          Lawrence Heights
4        M6A        North York            Lawrence Manor
..       ...               ...                       ...
205      M8Z         Etobicoke  Kingsway Park South West
206      M8Z         Etobicoke                 Mimico NW
207      M8Z         Etobicoke        The Queensway West
208      M8Z         Etobicoke     Royal York South West
209      M8Z         Etobicoke            South of Bloor

[210 rows x 3 columns]

In [15]:
for i in range(210):
    if df.at[i,"Neighbourhood"] == "Not assigned":
        df.at[i,"Neighbourhood"] = df.at[i,"Borough"]

In [17]:
df_grouped = df.groupby(["Postcode"]).agg({"Neighbourhood":", ".join})

In [18]:
df_grouped

                                              Neighbourhood
Postcode
M1B                                          Rouge, Malvern
M1C                  Highland Creek, Rouge Hill, Port Union
M1E                       Guildwood, Morningside, West Hill
M1G                                                  Woburn
M1H                                               Cedarbrae
...                                                     ...
M9N                                                  Weston
M9P                                               Westmount
M9R       Kingsview Village, Martin Grove Gardens, Richv...
M9V       Albion Gardens, Beaumond Heights, Humbergate, ...
M9W                                               Northwest

[103 rows x 1 columns]

In [19]:
df_grouped.at["M1B","Neighbourhood"]

'Rouge, Malvern'

In [20]:
lista = list(df["Postcode"])

In [21]:
def Remove(duplicate): 
    final_list = [] 
    for num in duplicate: 
        if num not in final_list: 
            final_list.append(num) 
    return final_list

In [22]:
lista = Remove(lista)

In [23]:
df.head(2)

  Postcode     Borough     Neighbourhood
0      M3A  North York         Parkwoods
1      M4A  North York  Victoria Village

In [24]:
print(lista)

['M3A', 'M4A', 'M5A', 'M6A', 'M7A', 'M9A', 'M1B', 'M3B', 'M4B', 'M5B', 'M6B', 'M9B', 'M1C', 'M3C', 'M4C', 'M5C', 'M6C', 'M9C', 'M1E', 'M4E', 'M5E', 'M6E', 'M1G', 'M4G', 'M5G', 'M6G', 'M1H', 'M2H', 'M3H', 'M4H', 'M5H', 'M6H', 'M1J', 'M2J', 'M3J', 'M4J', 'M5J', 'M6J', 'M1K', 'M2K', 'M3K', 'M4K', 'M5K', 'M6K', 'M1L', 'M2L', 'M3L', 'M4L', 'M5L', 'M6L', 'M9L', 'M1M', 'M2M', 'M3M', 'M4M', 'M5M', 'M6M', 'M9M', 'M1N', 'M2N', 'M3N', 'M4N', 'M5N', 'M6N', 'M9N', 'M1P', 'M2P', 'M4P', 'M5P', 'M6P', 'M9P', 'M1R', 'M2R', 'M4R', 'M5R', 'M6R', 'M7R', 'M9R', 'M1S', 'M4S', 'M5S', 'M6S', 'M1T', 'M4T', 'M5T', 'M1V', 'M4V', 'M5V', 'M8V', 'M9V', 'M1W', 'M4W', 'M5W', 'M8W', 'M9W', 'M1X', 'M4X', 'M5X', 'M8X', 'M4Y', 'M7Y', 'M8Y', 'M8Z']

In [25]:
for i in range(210):
    for postcode in lista:
        if df.at[i,"Postcode"]==postcode:
            df.at[i,"Neighbourhood"]=df_grouped.at[postcode,"Neighbourhood"]

In [26]:
df

,Postcode,Borough,Neighbourhood
0,M3A,North York,Parkwoods
1,M4A,North York,Victoria Village
2,M5A,Downtown Toronto,Harbourfront
3,M6A,North York,"Lawrence Heights, Lawrence Manor"
4,M6A,North York,"Lawrence Heights, Lawrence Manor"
...,...,...,...
205,M8Z,Etobicoke,"Kingsway Park South West, Mimico NW, The Queen..."
206,M8Z,Etobicoke,"Kingsway Park South West, Mimico NW, The Queen..."
207,M8Z,Etobicoke,"Kingsway Park South West, Mimico NW, The Queen..."
208,M8Z,Etobicoke,"Kingsway Park South West, Mimico NW, The Queen..."
209,M8Z,Etobicoke,"Kingsway Park South West, Mimico NW, The Queen..."

In [27]:
df.shape

(210, 3)

1. Remove Not assign from Borough
2. Update Neighbourhood if Not assign
3. Group the Neighbourhood by the Postcode in a new df
4. Nested for loop to update the old df with the grouped values from the new df